#find-pw-prev-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#find-pw-prev-wrapper {
    margin-top: 100px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 열(세로) 방향 배치 */
    flex-direction: column;
}

#title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-wrapper h2 {
    margin: 0;
    color: #3F63BF;
}

#baby-image {
    width: 50px;
    margin-right: 5px;
}

#form-wrapper {
    width: 450px;
    height: 330px;
    display: flex;
    justify-content: center;
    /* hr과 동일한 색상 */
    border: 1px solid #C7C8C9;
    border-radius: 5%;
    margin-top: 20px;
    padding-top: 50px;
}

#find-pw {
    width: 390px;
}

#id-wrapper, #mail-wrapper, #code-wrapper {
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#id-wrapper {
    /* hr과 동일한 색상 */
    border: 1px solid #C7C8C9;
}

#mail-wrapper {
    /* hr과 동일한 색상 */
    border-left: 1px solid #C7C8C9;
    border-right: 1px solid #C7C8C9;
    border-bottom: 1px solid #C7C8C9;
}

#code-wrapper {
    margin-top: 20px;
    /* hr과 동일한 색상 */
    border: 1px solid #C7C8C9;
}

#id-wrapper input::placeholder,
#mail-wrapper input::placeholder, #code-wrapper input::placeholder {
    color: #9E9E9E;
}

#id-wrapper {
    border-radius: 15px 15px 0 0;
}

#mail-wrapper {
    border-radius: 0 0 15px 15px;
}

#code-wrapper {
    border-radius: 15px;
}

.find-image {
    width: 30px;
    margin-right: 10px;
}

#userId, #userEmail, #certificationNum {
    width: 100%;
    border: none;
    /* input 클릭 시 생기는 기본 파란선 없앰 */
    outline: none;
}

/* 인증번호전송 버튼 */
#btn-submit-code {
    width: 170px;
    height: 35px;
    margin-right: 10px;
    color: white;
    background-color: #3F63BF;
    border: none;
    border-radius: 15px;
}

/* 확인 버튼 */
#btn-check {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #3F63BF;
    font-size: 1.3em;
    border: none;
    border-radius: 15px;
}