header {
    margin-bottom: 2%;
}

nav {
    background-color: #3F63BF;
}

.container a {
    color: white;
}

/* a태그 클릭 후 색깔 */
.container a:visited {
    color: white;
}

.container a:hover {
    color: pink;
}

#header-navbar-logo-image {
    width: 60px;
}

#header-navbar-join-image {
    width: 35px;
}

/* 메뉴 글자색 */
.header-bottom-ul .nav-item .nav-link {
    color: black;
}

/* hr 태그 위, 아래 margin 설정 / 오른쪽, 왼쪽은 auto */
header hr {
    margin: 0 auto;
}

/* 메뉴 왼쪽, 오른쪽 margin 설정 / 위, 아래 auto */
.header-bottom-ul .nav-item {
    margin: auto 10px;
    border-bottom: 3px solid white;
}
