/* === 로딩 효과 영역 START === */
.loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    flex-direction: column; /* 저출산 뉴스 화면으로 이동 시, header.js 에서 display 가 flex 로 변경될 때 사용됨 */
    align-items: center; /* 저출산 뉴스 화면으로 이동 시, header.js 에서 display 가 flex 로 변경될 때 사용됨 */
    justify-content: center; /* 저출산 뉴스 화면으로 이동 시, header.js 에서 display 가 flex 로 변경될 때 사용됨 */
    text-align: center;
    z-index: 1;
}

/* 가상요소 */
.loading-wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

.loading-info {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1.2em;
}

.loading-info img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
/* === 로딩 효과 영역 END === */

header {
    margin-bottom: 2%;
}

nav {
    background-color: #3F63BF;
}

.container a {
    color: white;
}

/* a태그 클릭 후 색깔 */
.container a:visited {
    color: white;
}

.container a:hover {
    color: pink;
}

.custom-nav-link {
    text-decoration: none;
}

#user-nav-link {
    font-size: 1.3em;
    margin-right: 30px;
}

#logout-nav-link {
    padding: 7px;
    background-color: white;
    color: #3F63BF;
    border-radius: 15px;
}

#logout-nav-link:hover {
    background-color: #FBD914;
}

#header-navbar-logo-image {
    width: 60px;
}

.header-navbar-join-image {
    width: 35px;
}

/* 메뉴 글자색 */
.header-bottom-ul .nav-item .nav-link {
    color: black;
}

/* hr 태그 위, 아래 margin 설정 / 오른쪽, 왼쪽은 auto */
header hr {
    margin: 0 auto;
}

/* 메뉴 왼쪽, 오른쪽 margin 설정 / 위, 아래 auto */
.header-bottom-ul .nav-item {
    margin: auto 10px;
    border-bottom: 3px solid white;
}
