#main-container {
    margin: 0 15%;
    display: flex;
    /* hr과 동일한 색상 */
    border-top: 1px solid #C7C8C9;
}

/* 저출산 뉴스 및 출산 혜택 정보 블로그 영역 */
#main-wrapper {
    width: 60%;
    padding-top: 5%;
    padding-bottom: 3%;
    /* hr과 동일한 색상 */
    border-right: 1px solid #C7C8C9;
}

/* 국내 결혼 중개업 영역 */
#main-side-wrapper {
    width: 40%;
    height: auto;
    padding-top: 2%;
    padding-left: 2%;
}


/* === 저출산 뉴스 영역 === */
#main-news-list {
    margin-bottom: 50px;
}

#main-news-list #main-news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-news-title span {
    margin-top: 8px;
    margin-right: 5%;
    font-size: 0.9em;
}

.main-news-list-items {
    width: 100%;
    padding-right: 5%;
    display: flex;
    /* 여유 공간이 없을 시, 줄바꿈 처리 */
    flex-wrap: wrap;
    align-items: center;
}

.main-news-list-items hr {
    width: 100%;
    display: block;
}

.main-news-list-img {
    width: 100px;
    margin-right: 17px;
}

.news-img {
    width: 100px;
    height: 90px;
}

.news-info {
    /* 117px -> 이미지 영역 100px + 이미지 마진 17px */
    width: calc(100% - 117px);
    /* 영역을 넘어가도 줄바꿈 되지 않게 */
    white-space: nowrap;
    overflow: hidden;
    /* 말줄임 표시 */
    text-overflow: ellipsis;
}

.news-info a {
    color: black;
    text-decoration: none;
    font-size: 1.13em;
}

.news-info a:hover {
    text-decoration: underline;
}

.news-info p {
    color: #9E9E9E;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-info .news-company {
    color: #9E9E9E;
    font-size: 0.9em;
}

#news-view-more-wrapper {
    display: flex;
    justify-content: center;
    padding-right: 5%;
}

#news-view-more {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* hr과 동일한 색상 */
    border: 1px solid #C7C8C9;
    cursor: pointer;
}

#news-view-more .toggle-img {
    width: 20px;
}


/* === 출산 혜택 정보 블로그 영역 === */
#main-blog-list {
    display: flex;
    /* 열(세로) 방향 배치 */
    flex-direction: column;
}

#main-blog-list #blog-view-more {
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-bottom: 10px;
}

#blog-view-more a {
    text-decoration: none;
    color: #9E9E9E;
}

.main-blog-list-items {
    padding-bottom: 1.2%;
    /* 영역을 넘어가도 줄바꿈 되지 않게 */
    white-space: nowrap;
    overflow: hidden;
    /* 말줄임 표시 */
    text-overflow: ellipsis;
}

.main-blog-list-items a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.main-blog-list-items a:hover {
    text-decoration: underline;
}

.main-blog-list-items .blog-name {
    color: #9E9E9E;
    font-size: 0.8em;
}


/* === 국내 결혼 중개업 영역 === */
#main-broker-list {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    /* position: sticky 사용 시, 부모의 height 를 설정해주어야 한다. */
    /* 스크롤 시, 사이드바 고정 효과 */
    position: sticky;
    /*
        top, bottom, left, right 들 중에 하나를 필수적으로 설정해주어야 한다.
        해당 설정 값 이후부터 사이드바 고정.
        상단에서 픽셀만큼 요소를 아래에 고정시킴.
    */
    top: 30px;
    width: 70%;
    border-bottom: 1px solid #C7C8C9;
}

#main-broker-list span {
    color: #9E9E9E;
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 25px;
}

#main-broker-list .main-broker-list-items {
    margin-bottom: 20px;
}

.main-broker-list-items a {
    text-decoration: none;
    color: #696969;
}

.main-broker-list-items a:hover {
    text-decoration: underline;
}

#broker-view-more-wrapper {
    display: flex;
    justify-content: right;
    margin-bottom: 12px;
    padding-right: 20px;
}

#broker-view-more a {
    text-decoration: none;
    color: #9E9E9E;
}

