<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                // 국내결혼중개업 href 셋팅
                const naverQueryUrl = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=";

                $(".main-broker-list-items a").each(function() {
                    // 결혼중개업체명 인코딩
                    $(this).attr("href", naverQueryUrl + encodeURIComponent($(this).text()));
                });


                // "뉴스 더보기" or "뉴스 접기" 클릭 시, 저출산 뉴스 리스트 추가 or 삭제
                $("#news-view-more").on("click", function() {
                    const toggleYn = $(this).data("toggleYn");

                    if(toggleYn == "N") {
                        // 저출산 뉴스 리스트 추가
                        $("#addition-news-list-wrapper").css("display","block");

                        // 뉴스 접기
                        $("#news-view-more .toggle-img").attr("src", "/images/up.png");
                        $(this).children("span").text("뉴스 접기");
                        $(this).data("toggle-yn", "Y");
                    } else {
                        // 저출산 뉴스 리스트 삭제
                        $("#addition-news-list-wrapper").css("display","none");

                        // 뉴스 더보기
                        $("#news-view-more .toggle-img").attr("src", "/images/down.png");
                        $(this).children("span").text("뉴스 더보기");
                        $(this).data("toggle-yn", "N");

                        // 페이지 최상단으로 이동
                        window.scrollTo(0, 0);
                    }
                });

                // 로그인된 경우에만 넘어가도록
                const loginUser = /*[[${#authentication.principal}]]*/;

                $("#broker-view-more a").on("click", function(e) {
                    if(loginUser == "anonymousUser") {
                        e.preventDefault();

                        // 로그인 화면으로 이동
                        window.location.href = "/user/login";
                    }
                });
            });
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
    <div layout:fragment="content">
        <div id="main-container">
            <!-- 저출산 뉴스&출산 혜택 정보 블로그 리스트 영역 -->
            <div id="main-wrapper">
                <!-- 저출산 뉴스 영역-->
                <div id="main-news-list">
                    <div id="main-news-title">
                        <h5>저출산 뉴스</h5>
                        <span th:text="${newsDate}"></span>
                    </div>
                    <hr>
                    <div class="main-news-list-items" th:each="news : ${getNewsCrawlingList}" th:if="${newsStat.index < 5}">
                        <div class="main-news-list-img">
                            <a th:href="${news.newsLink}" target="_blank">
                                <img th:if="${news.newsImgPath != 'no img'}" th:src="${news.newsImgPath}" class="news-img">
                                <img th:unless="${news.newsImgPath != 'no img'}" th:src="@{/images/n.png}" class="news-img">
                            </a>
                        </div>
                        <div class="news-info">
                            <a th:href="${news.newsLink}" th:text="${news.newsTitle}" target="_blank"></a>
                            <p th:text="${news.newsDsc}"></p>
                            <span class="news-company" th:text="${news.newsMedia}"></span>
                        </div>
                        <hr>
                    </div>

                    <!-- 추가된 저출산 뉴스 리스트 영역 -->
                    <div id="addition-news-list-wrapper" style="display: none;" th:if="${#lists.size(getNewsCrawlingList) > 5}">
                        <div class="main-news-list-items" th:each="news : ${getNewsCrawlingList}" th:if="${4 < newsStat.index && newsStat.index < 10}">
                            <div class="main-news-list-img">
                                <a th:href="${news.newsLink}" target="_blank">
                                    <img th:if="${news.newsImgPath != 'no img'}" th:src="${news.newsImgPath}" class="news-img">
                                    <img th:unless="${news.newsImgPath != 'no img'}" th:src="@{/images/n.png}" class="news-img">
                                </a>
                            </div>
                            <div class="news-info">
                                <a th:href="${news.newsLink}" th:text="${news.newsTitle}" target="_blank"></a>
                                <p th:text="${news.newsDsc}"></p>
                                <span class="news-company" th:text="${news.newsMedia}"></span>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <!-- 수집된 뉴스가 없을 경우 -->
                    <div id="no-news-list-wrapper" th:if="${#lists.size(getNewsCrawlingList) == 0}">
                        <span>수집된 '저출산' 뉴스가 없습니다.</span>
                    </div>

                    <div id="news-view-more-wrapper" th:if="${#lists.size(getNewsCrawlingList) > 5}">
                        <div id="news-view-more" data-toggle-yn="N">
                            <span>뉴스 더보기</span>
                            <img th:src="@{/images/down.png}" class="toggle-img">
                        </div>
                    </div>
                </div>
                <!-- 출산 혜택 정보 블로그 영역-->
                <div id="main-blog-list">
                    <h5>출산 혜택 정보</h5>
                    <hr>
                    <!-- 더보기 부분 주석 처리_240307 -->
<!--                    <div id="blog-view-more">-->
<!--                        <a href="#">더보기 ></a>-->
<!--                    </div>-->
                    <div class="main-blog-list-items" th:each="blog : ${getBenefitCrawlingList}" th:if="${#lists.size(getBenefitCrawlingList) != 0}">
                        <a th:href="${blog.benefitLink}" th:text="${blog.benefitTitle}" target="_blank"></a>
                        <span class="blog-name" th:text="${blog.benefitBlogNm}"></span>
                    </div>
                    <!-- 수집된 출산 혜택 정보 블로그가 없을 경우 -->
                    <div id="no-blog-list-wrapper" th:unless="${#lists.size(getBenefitCrawlingList) != 0}">
                        <span>수집된 '출산 혜택' 정보가 없습니다.</span>
                    </div>
                </div>
            </div>

            <!-- 국내 결혼 중개업 영역 -->
            <div id="main-side-wrapper">
                <div id="main-broker-list">
                    <h5>국내 결혼 중개업</h5>
                    <span th:if="${getApiResult.apiResultCode != 'a-0'}">서울로 검색한 결과입니다.</span>
                    <span style="color: red;" th:unless="${getApiResult.apiResultCode != 'a-0'}" th:text="${getApiResult.apiResultMsg}"></span>
                    <!-- 국내 결혼 중개업 리스트 -->
                    <div class="main-broker-list-items" th:each="brokerage : ${getDmstMrgBrkList}" th:if="${getApiResult.apiResultCode != 'a-0'}">
                        <a th:text="${brokerage.entrpsNm}" target="_blank"></a>
                    </div>
                    <div class="main-broker-list-items" th:each="brokerage : ${getDmstMrgBrkList}" th:unless="${getApiResult.apiResultCode != 'a-0'}">
                        <a th:text="${brokerage.entrpsNm}" target="_blank"></a>
                    </div>
                    <div id="broker-view-more-wrapper">
                        <div id="broker-view-more">
                            <a th:href="@{/brokerage/getDmstMrgBrkListView}">더보기 및 다른 지역 ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>