<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                // "뉴스 더보기" or "뉴스 접기" 클릭 시, 저출산 뉴스 리스트 추가 or 삭제
                $("#news-view-more").on("click", function() {
                    const toggleYn = $(this).data("toggleYn");

                    if(toggleYn == "N") {
                        // 저출산 뉴스 리스트 추가
                        $("#addition-news-list-wrapper").css("display","block");

                        // 뉴스 접기
                        $("#news-view-more .toggle-img").attr("src", "/images/up.png");
                        $(this).children("span").text("뉴스 접기");
                        $(this).data("toggle-yn", "Y");
                    } else {
                        // 저출산 뉴스 리스트 삭제
                        $("#addition-news-list-wrapper").css("display","none");

                        // 뉴스 더보기
                        $("#news-view-more .toggle-img").attr("src", "/images/down.png");
                        $(this).children("span").text("뉴스 더보기");
                        $(this).data("toggle-yn", "N");
                    }
                });
            });
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
    <div layout:fragment="content">
        <div id="main-container">
            <!-- 저출산 뉴스&출산 혜택 정보 블로그 리스트 영역 -->
            <div id="main-wrapper">
                <!-- 저출산 뉴스 영역-->
                <div id="main-news-list">
                    <div id="main-news-title">
                        <h5>저출산 뉴스</h5>
                        <span th:text="${newsDate}"></span>
                    </div>
                    <hr>
                    <div class="main-news-list-items" th:each="news : ${getNewsCrawlingList}" th:if="${newsStat.index < 5}">
                        <div class="main-news-list-img">
                            <a th:href="${news.newsLink}" target="_blank">
                                <img th:if="${news.newsImgPath != 'no img'}" th:src="${news.newsImgPath}" class="news-img">
                                <img th:unless="${news.newsImgPath != 'no img'}" th:src="@{/images/n.png}" class="news-img">
                            </a>
                        </div>
                        <div class="news-info">
                            <a th:href="${news.newsLink}" th:text="${news.newsTitle}" target="_blank"></a>
                            <p th:text="${news.newsDsc}"></p>
                            <span class="news-company" th:text="${news.newsMedia}"></span>
                        </div>
                        <hr>
                    </div>

                    <!-- 추가된 저출산 뉴스 리스트 영역 -->
                    <div id="addition-news-list-wrapper" style="display: none;">
                        <div class="main-news-list-items" th:each="news : ${getNewsCrawlingList}" th:if="${4 < newsStat.index && newsStat.index < 10}">
                            <div class="main-news-list-img">
                                <a th:href="${news.newsLink}" target="_blank">
                                    <img th:if="${news.newsImgPath != 'no img'}" th:src="${news.newsImgPath}" class="news-img">
                                    <img th:unless="${news.newsImgPath != 'no img'}" th:src="@{/images/n.png}" class="news-img">
                                </a>
                            </div>
                            <div class="news-info">
                                <a th:href="${news.newsLink}" th:text="${news.newsTitle}" target="_blank"></a>
                                <p th:text="${news.newsDsc}"></p>
                                <span class="news-company" th:text="${news.newsMedia}"></span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div id="news-view-more-wrapper">
                        <div id="news-view-more" data-toggle-yn="N">
                            <span>뉴스 더보기</span>
                            <img th:src="@{/images/down.png}" class="toggle-img">
                        </div>
                    </div>
                </div>
                <!-- 출산 혜택 정보 블로그 영역-->
                <div id="main-blog-list">
                    <h5>출산 혜택 정보 블로그</h5>
                    <hr>
                    <div id="blog-view-more">
                        <a href="#">더보기 ></a>
                    </div>
                    <div class="main-blog-list-items">
                        <a href="#">2024년 부모급여 양육 영아 아동수당 출산장려금 출산혜택 지원금</a>
                        <span class="blog-name">육아인플루언서 현둥</span>
                    </div>
                    <div class="main-blog-list-items">
                        <a href="#">2024 출산혜택 지원금 첫만남이용권 사용처 신청 방법 지급 시기 확인</a>
                        <span class="blog-name">목포맘들의 수다방!!!</span>
                    </div>
                    <div class="main-blog-list-items">
                        <a href="#">2023년 2024년 서울시 출산지원금 임신 출산 혜택</a>
                        <span class="blog-name">감귤 성장일기</span>
                    </div>
                    <div class="main-blog-list-items">
                        <a href="#">2024년 출산지원금 혜택 총정리 첫만남이용권 부모급여</a>
                        <span class="blog-name">까치맘</span>
                    </div>
                    <div class="main-blog-list-items">
                        <a href="#">안성 셋째 출산혜택!</a>
                        <span class="blog-name">스리링</span>
                    </div>
                </div>
            </div>

            <!-- 국내 결혼 중개업 영역 -->
            <div id="main-side-wrapper">
                <div id="main-broker-list">
                    <h5>국내 결혼 중개업</h5>
                    <span>서울로 검색한 결과입니다.</span>
                    <!-- 국내 결혼 중개업 리스트 -->
                    <div class="main-broker-list-items">
                        <a href="#">(주)두리모아</a>
                    </div>
                    <div class="main-broker-list-items">
                        <a href="#">가연결혼정보주식회사</a>
                    </div>
                    <div class="main-broker-list-items">
                        <a href="#">골든브릿지 결혼정보</a>
                    </div>
                    <div class="main-broker-list-items">
                        <a href="#">러브블라썸</a>
                    </div>
                    <div class="main-broker-list-items">
                        <a href="#">가든국내.국제결혼</a>
                    </div>
                    <div id="broker-view-more-wrapper">
                        <div id="broker-view-more">
                            <a href="#">더보기 및 다른 지역 ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>