<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- 스프핑 시큐리티 사용을 위한 -->

<head>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                /*
                    지금 현재 페이지가 header.html 페이지가 아니기 떄문에
                    header에 있는 script가 동작하지 않는다.
                    header에서 동작해야 되는 script는,
                    공통 header.js로 빼서, 모든 페이지도 동작하게 만든다.
                    header.js 만들면, config.html에 추가해야된다.
                    ( config.html에 js파일 추가!!!! )

                    Form 태그안에 input박스 하나라도 있으면,
                    자동으로 submit이 되기 때문에, 따로 엔터조회, a조회 할 필요가 없다.

                    a태그 사용하여 form submit시 무조건 e.preventDefault()하기.
                */

            });
        </script>
    </th:block>
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg" aria-label="Eighth navbar example">
            <div class="container">
                <a class="navbar-brand" th:href="@{/home/main}">
                    <img id="header-navbar-logo-image" th:src="@{/images/baby.png}">새아가</a>
                <!-- 인증 여부에 따라 UI 출력 -->
                <div class="justify-content-end" id="navbarsExample07" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/user/login}">
                        <img class="header-navbar-join-image" th:src="@{/images/join.png}">
                        로그인 또는 회원가입</a>
                </div>
                <div class="justify-content-end" id="navbarsExample07" sec:authorize="isAuthenticated()">
                    <a class="custom-nav-link" id="user-nav-link" th:href="@{/user/login}" sec:authentication="principal.username"></a>
                    <a class="custom-nav-link" id="logout-nav-link" th:href="@{/user/logout}">로그아웃</a>
                </div>
            </div>
        </nav>
        <ul class="nav justify-content-center header-bottom-ul">
            <li class="nav-item">
                <a class="nav-link" href="#" th:onclick="fnDrawUnderline(this)">저출산 뉴스</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:onclick="fnDrawUnderline(this)">출산 혜택 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:onclick="fnDrawUnderline(this)">맘 카페</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:onclick="fnDrawUnderline(this)">커뮤니티</a>
            </li>
        </ul>
        <hr>
    </header>
</body>
</html>