<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mom_cafe_list.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                /*
                    메뉴 선택 효과
                    - '맘카페' 메뉴 선택 시
                */
                // 이전에 선택된 메뉴가 있다면 효과 초기화
                $(".nav-item").css("border-bottom-color", "white");

                // 밑줄 표현
                $(".header-bottom-ul .nav-item:nth-child(3)").css("border-bottom-color", "#3F63BF");

                // === 페이지네이션 영역에서 선택한 페이지 번호 효과 START ===
                // 현재 페이지의 URL 을 받아온다.
                const url = new URL(window.location.href);
                // 받아온 URL 에서 파라미터를 받아온다.
                const urlParams = url.searchParams;

                let pageNo = urlParams.get("pageNo");

                $(".mom-cafe-pagination-btn a").each(function() {
                    // pageNo와 같으면 선택 효과
                    if($(this).text() == pageNo) {
                        $(this).css("color", "#3F63BF")
                               .css("text-decoration", "underline");
                    }
                });
                // === 페이지네이션 영역에서 선택한 페이지 번호 효과 END ===
            });
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
<div layout:fragment="content">
    <div id="mom-cafe-list-container">
        <!-- 맘카페 건수 -->
        <div id="mom-cafe-count-wrapper">
            <p id="mom-cafe-count">
                <span th:text="${'검색결과: ' + getPagination.totalElements + '건'}"></span>
            </p>
        </div>
        <!-- 맘카페 리스트 영역 -->
        <div id="mom-cafe-list-wrapper">
            <div class="mom-cafe-list-items" th:each="cafe : ${getMomCafeCrawlingList}">
                <div class="mom-cafe-thumb">
                    <a th:href="${cafe.momCafeLink}" class="mom-cafe-link" target="_blank">
                        <img th:src="${cafe.momCafeImgPath}" class="mom-cafe-img">
                    </a>
                </div>
                <div class="mom-cafe-info">
                    <a th:href="${cafe.momCafeLink}" class="mom-cafe-link" target="_blank">
                        <span class="mom-cafe-title" th:text="${cafe.momCafeTitle}"></span>
                        <p class="mom-cafe-dsc" th:text="${cafe.momCafeDsc}"></p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 페이지네이션 영역 -->
        <div id="mom-cafe-page-wrapper">
            <ul class="mom-cafe-pagination" th:if="${getPagination.totalElements > 0}"
                                            th:with="pageNumber = ${getPagination.pageNumber},
												     pageRange = ${getPagination.pageRange},
												     totalPages = ${getPagination.totalPages},
												     startPage = ${T(java.lang.Math).floor((pageNumber - 1) / pageRange) * pageRange + 1},
												     tempEndPage = ${startPage + pageRange - 1},
												     endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
                <li class="mom-cafe-pagination-btn" th:if="${pageNumber > 1}">
                    <!-- ex) /cafe/getMomCafeList?pageNo=1 -->
                    <a th:href="@{/cafe/getMomCafeList(pageNo=${pageNumber - 1})}" class="prev">&lt</a>
                </li>
                <li class="mom-cafe-pagination-btn" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:href="@{/cafe/getMomCafeList(pageNo=${page})}" th:text="${page}"></a>
                </li>
                <li class="mom-cafe-pagination-btn" th:if="${pageNumber < totalPages}">
                    <a th:href="@{/cafe/getMomCafeList(pageNo=${pageNumber + 1})}" class="next">&gt</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>