<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-user}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/find_id.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                // 이름 칸으로 포커스 이동 시 border 효과
                $("#userName").on("focus", function() {
                    $("#name-wrapper").css("border", "2px solid #3F63BF");
                });

                // 이름 칸에서 다른 곳으로 포커스 이동 시, 기존 상태로 원복
                $("#userName").on("blur", function() {
                    $("#name-wrapper").css("border", "1px solid #C7C8C9");
                });

                // 이메일 칸으로 포커스 이동 시 border 효과
                $("#userEmail").on("focus", function() {
                    $("#mail-wrapper").css("border", "2px solid #3F63BF");
                });

                // 이메일 칸에서 다른 곳으로 포커스 이동 시, 기존 상태로 원복
                $("#userEmail").on("blur", function() {
                    $("#mail-wrapper").css("border-top", "none")
                        .css("border-left", "1px solid #C7C8C9")
                        .css("border-right", "1px solid #C7C8C9")
                        .css("border-bottom", "1px solid #C7C8C9");
                });
            });
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
    <div layout:fragment="content">
        <div id="find-id-container">
            <div id="find-id-wrapper">
                <div id="title-wrapper">
                    <a th:href="@{/home/main}" id="home">
                        <img id="baby-image" th:src="@{/images/baby.png}">
                    </a>
                    <h2>아이디 찾기</h2>
                </div>
                <div id="form-wrapper">
                    <form id="find-id-form" action="/user/loginProc" method="post">
                        <div id="name-wrapper">
                            <img class="find-image" th:src="@{/images/login.png}">
                            <input type="text" name="userName" id="userName" required placeholder="이름">
                        </div>
                        <div id="mail-wrapper">
                            <img class="find-image" th:src="@{/images/mail.png}">
                            <input type="text" name="userEmail" id="userEmail" required placeholder="이메일">
                        </div>
                        <button type="submit" id="btn-check">확인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>