<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-user}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function() {
                // 아이디 칸으로 포커스 이동 시 border 효과
                $("#userId").on("focus", function() {
                    $("#id-wrapper").css("border", "2px solid #3F63BF");
                });

                // 아이디 칸에서 다른 곳으로 포커스 이동 시, 기존 상태로 원복
                $("#userId").on("blur", function() {
                    $("#id-wrapper").css("border", "1px solid #C7C8C9");
                });

                // 비밀번호 칸으로 포커스 이동 시 border 효과
                $("#userPw").on("focus", function() {
                    $("#pw-wrapper").css("border", "2px solid #3F63BF");
                });

                // 비밀번호 칸에서 다른 곳으로 포커스 이동 시, 기존 상태로 원복
                $("#userPw").on("blur", function() {
                    $("#pw-wrapper").css("border-top", "none")
                                    .css("border-left", "1px solid #C7C8C9")
                                    .css("border-right", "1px solid #C7C8C9")
                                    .css("border-bottom", "1px solid #C7C8C9");
                });
            });
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
    <div layout:fragment="content">
        <div id="login-container">
            <div id="login-wrapper">
                <h2>SAEAHGA</h2>
                <div id="form-wrapper">
                    <form id="login-form" action="#" method="post">
                        <div id="id-wrapper">
                            <img class="login-image" th:src="@{/images/login.png}">
                            <input type="text" name="userId" id="userId" required placeholder="아이디">
                        </div>
                        <div id="pw-wrapper">
                            <img class="login-image" th:src="@{/images/password.png}">
                            <input type="password" name="userPw" id="userPw" required placeholder="비밀번호">
                        </div>
                        <button type="submit" id="btn-login">로그인</button>
                    </form>
                </div>
                <div id="find-wrapper">
                    <ul id="find-ul">
                        <li class="find-li find-ul-common"><a href="#">비밀번호 찾기</a></li>
                        <li class="find-li find-ul-common"><a href="#">아이디 찾기</a></li>
                        <li class="find-li"><a th:href="@{/user/join}">회원가입</a></li>
                    </ul>
                </div>
                <div id="sns-wrapper">
                    <ul id="sns-ul">
                        <li class="sns-li sns-kakao"><button type="button" class="btn-sns-login"><img class="sns-image" th:src="@{/images/kakao.png}"></button></li>
                        <li class="sns-li"><button type="button" class="btn-sns-login"><img class="sns-image" th:src="@{/images/naver.png}"></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>