<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http:///www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-user}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해서 남겨둠 -->
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/my_info.css}"/>
    </th:block>
    <th:block layout:fragment="script">
        <!-- 다음 주소 API 관련 -->
        <script th:inline="javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            $(function() {
                // DB 에서 조회된 주소를 ", " 로 분리하여 도로명 주소 및 상세주소 셋팅
                let userAddr = /*[[${userInfo.userAddr}]]*/;
                let tempAddr = userAddr.split(", ");
                let userAddr1 = tempAddr[0];
                let userAddr2 = tempAddr[1];

                $("#userAddr1").val(userAddr1);
                $("#userAddr2").val(userAddr2);

                // 비밀번호의 경우, 수정을 하든 안하든 다시 입력을 해야하기에
                let pwValidation = false;

                // 해당 사용자에 대한 정보를 조회해서 보여주기에 true 로 설정
                let nmValidation = true;
                let phoneValidation = true;
                let mailValidation = true;

                /* ========== 유효성 검사 start ========== */

                // 비밀번호 유효성 검사(영문자, 숫자, 특수문자 조합의 9자리 이상만 사용 가능)
                function validatePw(ch) {
                    return /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*+=-])(?=.*[0-9]).{9,}$/.test(ch);
                }

                $("#userPw").on("change", function () {
                    if (!validatePw($("#userPw").val())) {
                        pwValidation = false;
                        $("#pw-validation").css("display", "block");
                        $("#userPw").focus();
                    } else {
                        pwValidation = true;
                        $("#pw-validation").css("display", "none");
                    }
                });

                // 이름 유효성 검사(한글 or 영문 대/소문자만 사용 가능)
                function validateName(ch) {
                    return /^[가-힣a-zA-Z]+$/.test(ch);
                }

                $("#userNm").on("change", function () {
                    if(!validateName($("#userNm").val())) {
                        nmValidation = false;
                        $("#nm-validation").css("display", "block");
                        $("#userNm").focus();
                    } else {
                        nmValidation = true;
                        $("#nm-validation").css("display", "none");
                    }
                });

                // 휴대전화번호 유효성 검사(010-****(3~4자리)-****만 가능)
                function validatePhone(ch) {
                    return /^010-?([0-9]{3,4})-?([0-9]{4})$/.test(ch);
                }

                $("#userPhone").on("change", function () {
                    if(!validatePhone($("#userPhone").val())) {
                        phoneValidation = false;
                        $("#phone-validation").css("display", "block");
                        $("#userPhone").focus();
                    } else {
                        phoneValidation = true;
                        $("#phone-validation").css("display", "none");
                    }
                });

                // 이메일 유효성 검사
                function validateEmail(ch) {
                    return /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i.test(ch);
                }

                $("#userEmail").on("change", function () {
                    if(!validateEmail($("#userEmail").val())) {
                        mailValidation = false;
                        $("#mail-validation").css("display", "block");
                        $("#userEmail").focus();
                    } else {
                        mailValidation = true;
                        $("#mail-validation").css("display", "none");
                    }
                });

                /* ========== 유효성 검사 end ========== */


                /* ========== 입력칸 관련 효과 & 빈값 check start ========== */
                // 각 칸으로 포커스 이동 시 border 효과 및 다른 곳으로 포커스 이동 시, 기존 상태로 원복
                $("#userPw").on("focus", function() {
                    if(pwValidation) {
                        $(".my-info-list-pw").css("border", "2px solid #3F63BF");
                    } else {
                        $(".my-info-list-pw")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                    }
                });

                $("#userPw").on("blur", function() {
                    if(pwValidation) {
                        $(".my-info-list-pw")
                            .css("border-top", "none")
                            .css("border-left", "1px solid #C7C8C9")
                            .css("border-right", "1px solid #C7C8C9")
                            .css("border-bottom", "1px solid #C7C8C9");
                    } else {
                        $(".my-info-list-pw")
                            .css("border-top", "none")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "1px solid #C7C8C9");
                    }

                    // 빈값 체크
                    if($("#userPw").val() == "") {
                        $("#pw-validation").css("display", "none");
                        $("#pw-blank").css("display", "block");
                    } else {
                        $("#pw-blank").css("display", "none");
                    }
                });

                $("#userNm").on("focus", function() {
                    if(nmValidation) {
                        $(".my-info-list-name").css("border", "2px solid #3F63BF");
                    } else {
                        $(".my-info-list-name")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                    }
                });

                $("#userNm").on("blur", function() {
                    if(nmValidation) {
                        $(".my-info-list-name").css("border", "1px solid #C7C8C9");
                    } else {
                        $(".my-info-list-name")
                            .css("border-top", "1px solid #C7C8C9")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "1px solid #C7C8C9");
                    }

                    // 빈값 체크
                    if($("#userNm").val() == "") {
                        $("#nm-validation").css("display", "none");
                        $("#nm-blank").css("display", "block");
                    } else {
                        $("#nm-blank").css("display", "none");
                    }
                });

                $("#userPhone").on("focus", function() {
                    if(phoneValidation) {
                        $(".my-info-list-phone").css("border", "2px solid #3F63BF");
                    } else {
                        $(".my-info-list-phone")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                    }
                });

                $("#userPhone").on("blur", function() {
                    if(phoneValidation) {
                        $(".my-info-list-phone")
                            .css("border-top", "none")
                            .css("border-left", "1px solid #C7C8C9")
                            .css("border-right", "1px solid #C7C8C9")
                            .css("border-bottom", "1px solid #C7C8C9");
                    } else {
                        $(".my-info-list-phone")
                            .css("border-top", "none")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "1px solid #C7C8C9");
                    }

                    // 빈값 체크
                    if($("#userPhone").val() == "") {
                        $("#phone-validation").css("display", "none");
                        $("#phone-blank").css("display", "block");
                    } else {
                        $("#phone-blank").css("display", "none");
                    }
                });

                $("#userEmail").on("focus", function() {
                    if(mailValidation) {
                        $(".my-info-list-mail").css("border", "2px solid #3F63BF");
                    } else {
                        $(".my-info-list-mail")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                    }
                });

                $("#userEmail").on("blur", function() {
                    if(mailValidation) {
                        $(".my-info-list-mail")
                            .css("border-top", "none")
                            .css("border-left", "1px solid #C7C8C9")
                            .css("border-right", "1px solid #C7C8C9")
                            .css("border-bottom", "none");
                    } else {
                        $(".my-info-list-mail")
                            .css("border-top", "none")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "none");
                    }

                    // 빈값 체크
                    if($("#userEmail").val() == "") {
                        $("#mail-validation").css("display", "none");
                        $("#mail-blank").css("display", "block");
                    } else {
                        $("#mail-blank").css("display", "none");
                    }
                });

                $("#userAddr1").on("focus", function() {
                    if($("#userAddr1").val() == "" || $("#userAddr2").val() == "") {
                        $(".my-info-list-address")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                    } else {
                        $(".my-info-list-address").css("border", "2px solid #3F63BF");
                    }
                });

                $("#userAddr1").on("blur", function() {
                    if($("#userAddr1").val() == "" || $("#userAddr2").val() == "") {
                        $(".my-info-list-address")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000");
                        // 빈값 관련
                        $("#addr-blank").css("display", "block");
                    } else {
                        $(".my-info-list-address").css("border", "1px solid #C7C8C9");
                        // 빈값 관련
                        $("#addr-blank").css("display", "none");
                    }
                });

                $("#userAddr2").on("focus", function() {
                    if($("#userAddr1").val() == "" || $("#userAddr2").val() == "") {
                        $(".my-info-list-address")
                            .css("border-top", "1px solid #C7C8C9")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "1px solid #C7C8C9");
                    } else {
                        $(".my-info-list-address").css("border", "2px solid #3F63BF");
                    }
                });

                $("#userAddr2").on("blur", function() {
                    if($("#userAddr1").val() == "" || $("#userAddr2").val() == "") {
                        $(".my-info-list-address")
                            .css("border-top", "1px solid #C7C8C9")
                            .css("border-left", "2px solid #ff0000")
                            .css("border-right", "2px solid #ff0000")
                            .css("border-bottom", "1px solid #C7C8C9");
                        // 빈값 관련
                        $("#addr-blank").css("display", "block");
                    } else {
                        $(".my-info-list-address").css("border", "1px solid #C7C8C9");
                        // 빈값 관련
                        $("#addr-blank").css("display", "none");
                    }
                });
                /* ========== 입력칸 관련 효과 & 빈값 check end ========== */


                /* ========== 회원정보 수정 진행 ========== */
                $("#btn-update-my-info").on("click", function () {
                    let userPw = $("#userPw").val();
                    let userNm = $("#userNm").val();
                    let userPhone = $("#userPhone").val();
                    let userEmail = $("#userEmail").val();

                    if(!userPw) {
                        alert("비밀번호를 입력하세요.");
                        $("#userPw").focus();
                        return;
                    }

                    if(!userNm) {
                        alert("이름을 입력하세요.");
                        $("#userNm").focus();
                        return;
                    }

                    if(!userPhone) {
                        alert("휴대전화번호를 입력하세요.");
                        $("#userPhone").focus();
                        return;
                    }

                    if(!userEmail) {
                        alert("이메일을 입력하세요.");
                        $("#userEmail").focus();
                        return;
                    }

                    // 비밀번호
                    if(!pwValidation) {
                        alert("비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상만 사용 가능합니다.");
                        $("#userPw").focus();
                        return;
                    }

                    // 이름
                    if(!nmValidation) {
                        alert("이름은 한글, 영문 대/소문자만 사용 가능합니다.");
                        $("#userNm").focus();
                        return;
                    }

                    // 휴대전화번호
                    if(!phoneValidation) {
                        alert("휴대전화번호는 010-****(3~4자리)-**** 형식만 가능합니다.");
                        $("#userPhone").focus();
                        return;
                    }

                    // 이메일
                    if(!mailValidation) {
                        alert("이메일 주소가 정확한지 확인해 주세요.");
                        $("#userEmail").focus();
                        return;
                    }

                    // 주소
                    if($("#userAddr1").val() == "") {
                        alert("도로명 주소는 필수 정보입니다.");
                        $("#userAddr1").focus();
                        return;
                    } else if($("#userAddr2").val() == "") {
                        alert("상세주소는 필수 정보입니다.");
                        $("#userAddr2").focus();
                        return;
                    }

                    // 주소(도로명 주소 + 상세주소) 셋팅
                    $("#userAddr").val($("#userAddr1").val() + ", " + $("#userAddr2").val());

                    $.ajax({
                        url: "/user/updateMyInfo",
                        type: "post",
                        data: $("#my-info-form").serialize(),
                        success: function(obj) {
                            console.log("msg: " + obj.item.updateMyInfoMsg);
                            if(obj.item.updateMyInfoMsg == "updateOk") {
                                alert("회원정보 수정이 완료되었습니다. 다시 로그인 해주시기 바랍니다.");

                                // 로그아웃
                                window.location.href = "/user/logout";
                            } else {
                                alert("회원정보 수정에 실패하였습니다. 관리자에게 문의하세요.");
                            }
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });
            });


            /* ========== 다음 주소 API 연동 ========== */
            function daumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 참고 항목 변수

                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById("userAddr1").value = roadAddr;
                    }
                }).open();
            }
        </script>
    </th:block>
</head>
<!-- head 영역 끝 -->

<body>
    <div layout:fragment="content">
        <div id="my-info-container">
            <div id="my-info-wrapper">
                <div id="title-wrapper">
                    <a th:href="@{/home/main}" id="home">
                        <img id="baby-image" th:src="@{/images/baby.png}">
                    </a>
                    <h2>회원정보 수정</h2>
                </div>
                <form id="my-info-form" action="#" method="post">
                    <div class="my-info-list" id="my-info-list-top">
                        <div class="my-info-list-id my-info-list-item" data-focus-yn="N">
                            <img class="my-info-image" th:src="@{/images/login.png}">
                            <input type="text" name="userId" id="userId" class="my-info-input" required placeholder="아이디"
                                   size="30" maxlength="20" th:value="${userInfo.userId}" readonly>
                        </div>
                        <div class="my-info-list-pw my-info-list-item" data-focus-yn="N">
                            <img class="my-info-pw-image" th:src="@{/images/password.png}">
                            <input type="password" name="userPw" id="userPw" class="my-info-input" required placeholder="비밀번호"
                                   size="30" maxlength="20">
                        </div>
                    </div>
                    <!-- 유효성 검사 관련 메시지 출력 부분 -->
                    <div class="validation-result" id="pw-blank">
                        · 비밀번호: 필수 정보입니다.
                    </div>
                    <div class="validation-result" id="pw-validation">
                        · 비밀번호: 영문자, 숫자, 특수문자 조합의 9자리 이상만 사용 가능합니다.
                    </div>
                    <div class="my-info-list" id="my-info-list-bottom">
                        <div class="my-info-list-name my-info-list-item">
                            <img class="my-info-image" th:src="@{/images/login.png}">
                            <input type="text" name="userNm" id="userNm" class="my-info-input" required placeholder="이름"
                                   size="30" maxlength="20" th:value="${userInfo.userNm}">
                        </div>
                        <div class="my-info-list-phone my-info-list-item">
                            <img class="my-info-phone-image" th:src="@{/images/phone.png}">
                            <input type="text" name="userPhone" id="userPhone" class="my-info-input" required placeholder="휴대전화번호"
                                   size="30" maxlength="20" th:value="${userInfo.userPhone}">
                        </div>
                        <div class="my-info-list-mail my-info-list-item">
                            <img class="my-info-mail-image" th:src="@{/images/mail.png}">
                            <input type="text" name="userEmail" id="userEmail" class="my-info-input" required placeholder="이메일"
                                   size="30" maxlength="100" th:value="${userInfo.userEmail}">
                        </div>
                        <div class="my-info-list-address">
                            <img class="my-info-address-image" th:src="@{/images/address.png}">
                            <input type="hidden" name="userAddr" id="userAddr" value="">
                            <input type="text" name="userAddr1" id="userAddr1" required placeholder="도로명 주소"
                                   size="30" maxlength="150" readonly>
                            <button type="button" class="btn-addr-check" id="btnAddrCheck" onclick="daumPostcode()">주소 찾기</button>
                            <input type="text" name="userAddr2" id="userAddr2" class="my-info-input" required placeholder="상세주소"
                                   size="30" maxlength="150">
                        </div>
                    </div>
                    <!-- 유효성 검사 관련 메시지 출력 부분 -->
                    <div class="validation-result" id="nm-blank">
                        · 이름: 필수 정보입니다.
                    </div>
                    <div class="validation-result" id="nm-validation">
                        · 이름: 한글, 영문 대/소문자만 사용 가능합니다.
                    </div>
                    <div class="validation-result" id="phone-blank">
                        · 휴대전화번호: 필수 정보입니다.
                    </div>
                    <div class="validation-result" id="phone-validation">
                        · 휴대전화번호: 010-****(3~4자리)-**** 형식만 가능합니다.
                    </div>
                    <div class="validation-result" id="mail-blank">
                        · 이메일: 필수 정보입니다.
                    </div>
                    <div class="validation-result" id="mail-validation">
                        · 이메일 주소가 정확한지 확인해 주세요.
                    </div>
                    <div class="validation-result" id="addr-blank">
                        · 주소: 필수 정보입니다.
                    </div>
                    <div id="btn-wrapper">
                        <button type="button" id="btn-update-my-info">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>